* {
  box-sizing: border-box;
  font-family: Helvetica Arial;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

section, section#section3 {
  position: relative;
  float: left;
  border: 1px solid black;
  background-color: gray;
  height: auto;
  color: white;
  overflow: hidden;
  margin: 1%;
}

div#title1, div#title2, div#title3 {
  float: right;
  text-align: right;
  border: 1px solid black;
  font-weight: bold;
  font-size: 32px;
  color: black;
  display: inline-block;
  color: white;
}

div#title1 {
    background-color: red;
}

div#title2 {
    background-color: pink;
    color: black;
}

div#title3 {
    background-color: lightyellow;
    color: black;
}

div#description1, div#description2, div#description3 {
  clear: right;
  font-size: 16px;
  color: black;
}

@media (min-width: 992px) {
  section {
    width: 31.3%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  section, section#section3{
    width: 48%;
  }

  section#section3 {
    width: 98%;
  }
}

/********** Medium devices only **********/
@media (max-width: 768px) {
  section {
    width: 98%;
  }
}
